[Unit]
Description=GPU monitor RRD plugin
After=xcp-rrdd.service syslog.target
Requires=xcp-rrdd.service
Wants=syslog.target
PartOf=toolstack.target

[Service]
Environment=OCAMLRUNPARAM=b
ExecStart=/opt/xensource/libexec/xcp-rrdd-plugins/xcp-rrdd-gpumon
SuccessExitStatus=0
# StandardOutput=null
# StandardError=null
# restart but fail if more than 25 failures in 30s
Restart=on-failure
StartLimitBurst=25
StartLimitInterval=30s

[Install]
WantedBy=multi-user.target
